.pg{
    position: relative;
    margin: auto;
    margin-bottom: -100%;
    margin-left: 18%;
    margin-top: 150px;
}

.cardsusr-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .cardusr {
    margin: 30px auto;
    width: 260px;
    height: 350px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .cardusr .cardusr_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .cardusr .cardusr_image img {
    width: inherit;
    height: inherit;
    border-radius: 30px;
    object-fit: cover;
  }
  
  .cardusr .cardusr_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .cardusr:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  