.place{
    position: relative;
    margin: auto;
    margin-top: 4%;
    margin-left: 17.5%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    color: black;

}

.a{
    color: black;
    font-size: 18px;
}
